*/.idea
*/.classpath
*/.project
*/.settings
*/.cache
*/.history
*/.DS_Store
*/.metadata
*/.recommenders
*/.externalToolBuilders
*/.target
*/.factorypath
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper
*/.gradle
*/.gradletasknamecache
*/.gradlewrapper
*/.settings
/mscuentas/target/
/msclientes/target/
/mscuentas/HELP.md
/msclientes/HELP.md
